<!doctype html>
<html>

	<head>

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel = "stylesheet" type = "text/css" href="mystyle.css">
	</head>

<body>
	<div class="button"><button type = "button" class= "btn" onclick="alert('Hello World!')"> Clickme!</button>
	<button type="button" class="btn btn-primary">Primary</button>
	</div><br>
	<div class="img"><img src = "https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/13645276_827204450746043_1175769203874206166_n.jpg?oh=adce04093e8ab471d1cb2bb4ff4acac1&oe=57F2DBA5"></div>

	<meta charset = "utf-8">
	<div class="info">
	<h1>Trần Quang Khánh</h1>

		<p>

			- Birthdate: 16/12/1997 <br>
			- Email: abc@gmail.com  <br>
			- Mobile: 0888xxxxxxx   <br>
			- Martial status: Married <br>

		</p>

	<h2>Education</h2>

		<p>

			People's Security Academy

		</p>

	<h3>Why did I come to Techkids</h3>

		<p>To prepeare for the future</p>

	</div>
</body>

</html>
