<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login Page</title>




        <link rel="stylesheet" href="css/style.css">




  </head>

  <body>

    <hgroup>
  <h1>Đăng Nhập / Đăng Ký</h1>

</hgroup>
<form>
  <div class="group">
    <input type="text"><span class="highlight"></span><span class="bar"></span>
    <label>Tên Đăng Nhập</label>
  </div>
  <div class="group">
    <input type="email"><span class="highlight"></span><span class="bar"></span>
    <label>Mật Khẩu</label>
  </div>
  <button type="button" class="button buttonRed">Đăng Nhập / Đăng Ký
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <button type="button" class="button buttonBlue">Đăng Nhập Bằng Facebook
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>

</form>





  </body>
</html>
